body{
    font-family: 'Inter', sans-serif;
}

.custom-width {
    width: 40vw;
}

.custom-width-20{
    width: 20vw;
}

.custom-width-80 {
    width: 80vw;
}

.custom-width-full {
    width: 100%;
}

.custom-height-auto{
    height: auto;
}

.custom-width-100 {
    width: 100vw;
}

.custom-height-100 {
    height: 100vh;
}

.custom-height-90{
    height: 90vh;
}

.custom-height-60{
    height: 60vh;
}

.custom-height-80 {
    height: 80vh;
}

.custom-height-40{
    height: 40vh;
}

.custom-width-60{
    width: 60vw;
}

.custom-width-50{
    width: 50vw;
}

.custom-height-2{
    height: 2px;
}

.custom-height-1{
    height: 1px;
}

.gradient-div {
    background: linear-gradient(to bottom, rgb(237, 206, 8), orange);
}

.footer-div{
    background-color: rgb(51, 51, 51);
    color: rgb(207, 205, 205);
}

.hero-gradient-bg {
    background: linear-gradient(135deg, #ff8c00, #ffc966);
}

.opacity-decreasing-div {
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    height: 250px;
    /* Adjust height as needed */
    width: 100%;
    /* Adjust width as needed */
    /* position: relative; Establishes a positioning context */
}

.cardBenefits{
    background-color: #f2cf8f;
    border-radius: 20px;
}

.studentsSection{
    background-color: #f2cf8f;
}

.avatar{
    height: 40px;
    width: 40px;
}

.zIndexOne{
    z-index: 1;
}

.parent-container {
    position: relative;
}

.cover-for-sticky-bar{
    height: 84px;
}

.benefit{
    background-color: #ffc966;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.border-radius20{
    border-radius: 20px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    max-height: 250px;
    /* Adjust height for your desired overlay */
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    pointer-events: none;
    /* Allows clicks to fall through to the content */
}

.flex-col-just-center-align-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-col-just-start-align-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.flex-col-just-start-align-start {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
}

.flex-col-just-end-align-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}

.flex-col-just-evenly-align-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.text-white{
    color: white;
}


.flex-row-just-center-align-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-row-just-evenly-align-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.flex-row-just-between-align-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.flex-row-just-start-align-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.flex-col-just-center-align-start{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}
.flex-row-just-start-align-start{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
}

.flex-row-just-end-align-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}